@font-face{
  font-family: myFont;
  src: url(custom_font.ttf);
}

body {
  background-image: url('https://c1.staticflickr.com/5/4515/25165919388_87d6cbb420_b.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	color: #090a67;
	font-family: myFont;
  font-size: 100px;
	font-weight: 100;
	letter-spacing: 1px;
	line-height: 0px;
  text-align: center;
  text-shadow: 1px 1px 2px #ffffff;
}

.changeSize {
  font-size: 80px;
}

h2 {
  color: #f5f5f5;
  font-family: 'Georgia', serif;
  font-size: 19px;
  font-style: italic;
  margin-top: 30px;
  text-align: center;
}

h2.background {
  position: relative;
  z-index: 1;
  text-align:left;
  padding-left: 20px;
}

.space {
  margin-top: 200px;
}

.coming-soon {
  font-family: myFont;
  font-size: 100px;
  color: #f66a5c;
  text-shadow: 2px 2px #c9c9c9;
}

.subtitle {
  margin: 0 0 2em 0;
}

.nofancy {
  line-height: 0.5;
  text-align: center;
}

.nofancy span {
  display: inline-block;
  position: relative;
}

.nofancy span:before {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 3px solid #090a67;
  top: 0;
  width: 320px;
}
.nofancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 3px solid #090a67;
  top: 0;
  width: 320px;
}

.nofancy span:before {
  right: 100%;
  margin-right: 0px;
}

.nofancy span:after {
  left: 100%;
  margin-left: 0px;
}

.fancy {
  line-height: 0.5;
  text-align: center;
}

.fancy span {
  display: inline-block;
  position: relative;
  margin-right: 400px;
}

.fancy span:before {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 3px solid #090a67;
  top: 0;
  width: 70px;
}

.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 3px solid #090a67;
  top: 0;
  width: 460px;
}

.fancy span:before {
  right: 100%;
  margin-right: 15px;
}

.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

.topnav {
	display: flex;
	justify-content: center;
	width: 100%;
}

.topnav a {
  float: left;
  color: #090a67;
  text-shadow: 2px 2px #c0c0c0;
  text-align: center;
  padding: 14px 16.95px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  color: #090a67;
  text-shadow: 2px 2px #ffffff;
  font-size: 23px;
}
