@font-face{
  font-family: myFont;
  src: url(custom_font.ttf);
}

body {
  background: url('https://c1.staticflickr.com/5/4515/25165919388_87d6cbb420_b.jpg') no-repeat center center fixed;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #090a67;
}

@media only screen and (max-width: 480px) {

  img.our-story {
    height: 220px;
    width: 300px;
  }

  img.photos-landscape {
    margin: 20px 10px 10px 20px;
    width: 75px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  img.photos-portrait {
    margin: 20px 10px 10px 20px;
    width: 35px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  img.registry {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  img#travelersjoy {
    height: 90px;
    width: 130px;
  }

  img#bedbathbeyond {
    height: 90px;
    width: 150px;
  }

  /* The Modal (background) */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  /* Modal Content (image) */
  .modal-content {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 400px;
  }

  /* Caption of Modal Image */
  #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 400px;
      text-align: center;
      color: #ccc;
      padding: 15px 0;
      height: 50px;
  }

  /* Add Animation */
  .modal-content, #caption {
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)}
      to {-webkit-transform:scale(1)}
  }

  @keyframes zoom {
      from {transform:scale(0)}
      to {transform:scale(1)}
  }

  /* The Close Button */
  .close {
      position: absolute;
      top: 5px;
      right: 25px;
      color: #f1f1f1;
      font-size: 25px;
      font-weight: bold;
      transition: 0.3s;
  }

  .close:hover,
  .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
  }

  body {
    width: 100%;
    float: none;
  }

  header {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
  }

  button {
    font-family: 'Georgia', serif;
    font-size: 16px;
    border: none;
    text-decoration: none;
    padding: 5px 40px;
    margin-bottom: 10px;
    text-align: center;
    background: gba(255, 255, 255, .7);
    border-radius: 10px;
  }

  h1 {
    font-size: 40px;
    font-weight: 100;
  }

  h2 {
    margin-top: 30px;
    font-size: 10px;
    white-space: nowrap;
  }

  h2.background {
    text-align:left;
    padding-left: 10px;
  }

  h3 {
    font-size: 16px;
  }

  label {
    width: 30%;
    clear: left;
    text-align: right;
    padding-right: 5px;
    white-space: nowrap;
    margin-top: 4px;
    height: 20px;
  }

  input, label {
    float: left;
    padding-left: 5px;
    font-size: 12px;
  }

  button.submit {
    margin-top: 20px;
    padding-left: 10px;
    width: 100px;
    height: 35px;
    white-space: nowrap;
  }

  .bodycontainer {
    width: 100%;
    height: auto;
    margin-right: 15px;
    text-align: center;
    background: rgba(255, 255, 255, .7);
  }

  .section {
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .container {
    width: 100%;
    height: 100px;
    margin: 0 auto;
  }

  .center {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .nav {
    width: 100%;
    flex-wrap: wrap;
  }

  .input {
    display: inline-block;
    width: 170px;
  }

  #main_nav {
    display: none;
  }

  #info {
    display: none;
    position: relative;
  }

  ul {
    width: 100%;
    margin: 0;
    padding-left: 10px;
    padding-right: 20px;
  }

  ul li {
    float: none;
    line-height: 40px;
  }

  ul li a {
    display: block;
    height: 40px;
    float: none;
  }

  ul li ul {
    margin-left: -10px;
  }

  ul li ul li {
    position: static;
  }

  .nofancy {
    line-height: 0.5;
    text-align: center;
  }

  .nofancy span {
    display: inline-block;
  }

  .nofancy span:before {
    height: 5px;
    top: 0;
    width: 160px;
  }
  .nofancy span:after {
    height: 5px;
    top: 0;
    width: 160px;
  }

  .fancy {
    line-height: 0.5;
    text-align: center;
  }

  .fancy span {
    display: inline-block;
  }

  .fancy span:before {
    height: 5px;
    top: 0;
    width: 70%;
  }

  .fancy span:after {
    height: 5px;
    top: 0;
    width: 65%;
  }
}

@media only screen and (min-width: 481px) {

  img.our-story {
    height: 360px;
    width: 480px;
  }

  img.photos-landscape {
    margin: 20px 10px 10px 20px;
    width: 220px;
    height: 150px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  img.photos-portrait {
    margin: 20px 10px 10px 20px;
    width: 115px;
    height: 150px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  img.photos:hover {
    opacity: 0.7;
  }

  img.registry {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  img#travelersjoy {
    height: 180px;
    width: 260px;
  }

  img#bedbathbeyond {
    height: 180px;
    width: 300px;
  }

  /* The Modal (background) */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  /* Modal Content (image) */
  .modal-content {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
  }

  /* Caption of Modal Image */
  #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 10px 0;
      height: 150px;
  }

  /* Add Animation */
  .modal-content, #caption {
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)}
      to {-webkit-transform:scale(1)}
  }

  @keyframes zoom {
      from {transform:scale(0)}
      to {transform:scale(1)}
  }

  /* The Close Button */
  .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
  }

  .close:hover,
  .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
  }

  h1 {
    font-size: 90px;
    font-weight: 100;
    padding-top: 20px;
  }

  .changeSize {
    font-size: 80px;
  }

  h2 {
    margin-top: 30px;
    font-size: 20px;
  }

  h2.background {
    text-align:left;
    padding-left: 20px;
  }

  label {
    width: 345px;
    clear: left;
    text-align: right;
    padding-right: 10px;
    margin-top: 2px;
  }

  input, label {
      float: left;
  }

  header {
    position: relative;
    display: none;
  }

  button {
    font-family: 'Georgia', serif;
    font-size: 20px;
    border: none;
    text-decoration: none;
    text-align: center;
    background: gba(255, 255, 255, .7);
    border-radius: 10px;
  }

  button.submit {
    width: 130px;
    height: 35px;
    margin-top: 40px;
  }

  .container {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
  }

  .input {
    display: inline-block;
    width: 250px;
  }

  .section {
    justify-content: center;
    width: 1200px;
    height: auto;
    margin: 0 auto;
  }

  .bodycontainer {
    width: 870.67px;
    height: auto;
    text-align: center;
    background: rgba(255, 255, 255, .7);
  }

  .nav {
    justify-content: center;
    width: 1200px;
    height: 40px;
    margin: 0 auto;
  }

  .center {
    width: 870.67px;
    height: auto;
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .guests {
    width: 870.67px;
    height: auto;
    text-align: center;
    display: table-cell;
    justify-content: center;
  }

  .guest {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  #main_nav {
    display: flex;
  }

  ul {
    padding: 0;
    margin: 0;
  }
  ul li {
    line-height: 40px;
    float: left;
    padding: 0;
  }

  ul li a {
    width: auto;
    margin-right: 15px;
    margin-left: 15px;
    height: 40px;
  }

  ul li ul li {
    width: 106px;
  }

  ul li ul li a {
    padding: 0 auto;
    margin: 0 auto;
    text-align: center;
  }

  ul li:hover ul,
  ul li:focus ul {
    display: block;
  }

  .space {
    margin-top: 200px;
  }

  .coming-soon {
    font-family: myFont;
    font-size: 70px;
  }

  .subtitle {
    margin: 0 0 2em 0;
  }

  .nofancy {
    line-height: 0.5;
  }

  .nofancy span {
    display: inline-block;
  }

  .nofancy span:before {
    height: 5px;
    top: 0;
    width: 320px;
  }
  .nofancy span:after {
    height: 5px;
    top: 0;
    width: 320px;
  }

  .fancy {
    line-height: 0.5;
    text-align: center;
  }

  .fancy span {
    display: inline-block;
    margin-right: 400px;
  }

  .fancy span:before {
    height: 5px;
    top: 0;
    width: 70px;
  }

  .fancy span:after {
    height: 5px;
    top: 0;
    width: 460px;
  }

}

h1 {
  color: #090a67;
  font-family: myFont;
  letter-spacing: 1px;
  line-height: 0px;
  text-shadow: 1px 1px 2px #ffffff;
  text-align: center;
  white-space: nowrap;
}

.changeSize {
  font-size: 80px;
}

h2 {
  color: #f5f5f5;
  font-family: 'Georgia', serif;
  font-style: italic;
  text-align: center;
  white-space: nowrap;
}

h2.things-to-do {
  font-size: 30px;
  color: #f66a5c;
}

h3 {
  color: #090a67;
  font-family: "Georgia";
  font-weight: normal;
  text-align: center;
  padding: 10px 25px 10px 25px;
}

h3#event {
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom: 0;
}

h3#address {
  margin-top: 0;
  padding-top: 0;
}

h3.index {
  font-size: 15px;
  text-align: center;
}

h3.things-to-do {
  font-size: 20px;
  text-align: center;
}

h5 {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  white-space: nowrap;
}

#description {
  font-family: "Georgia";
  font-weight: normal;
  font-size: 17px;
}

button.submit {
  background-color: #090a67;
  color: #f5f5f5;
}

.nav {
  display: flex;
}

.section {
  display: flex;
}

.hide {
  display: none;
}

ul li {
  list-style: none;
  position: relative;
  background: rgba(255, 255, 255, .7);
  text-align: center;
}

ul li a {
  color: #090a67;
  display: block;
  text-decoration: none;
}

ul li a:hover {
  color: #f66a5c;
}

ul li ul {
  position: absolute;
  display: none;
}

.space {
  margin-top: 200px;
}

.coming-soon {
  font-family: myFont;
  color: #f66a5c;
  text-shadow: 2px 2px #c9c9c9;
}

.subtitle {
  margin: 0 0 2em 0;
}

.nofancy {
  text-align: center;
}

.nofancy span {
  position: relative;
}

.nofancy span:before {
  content: "";
  position: absolute;
  border-bottom: 3px solid #090a67;
}
.nofancy span:after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #090a67;
}

.nofancy span:before {
  right: 100%;
  margin-right: 0px;
}

.nofancy span:after {
  left: 100%;
  margin-left: 0px;
}

.fancy {
  line-height: 0.5;
  text-align: center;
}

.fancy span {
  position: relative;
}

.fancy span:before {
  content: "";
  position: absolute;
  border-bottom: 3px solid #090a67;
}

.fancy span:after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #090a67;
}

.fancy span:before {
  right: 100%;
  margin-right: 15px;
}

.fancy span:after {
  left: 100%;
  margin-left: 15px;
}